@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto+Condensed:wght@700&display=swap');

body {
  background: url(./img/photo-1552566626-52f8b828add9.jpg);
  backdrop-filter: blur(5px);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 5px;
  background: #003049;
  margin: auto;
  h1 {
    margin: 0;
    font-family: 'Architects Daughter', cursive;
    font-size: 1.80em;
    color: white;
    padding: 5px 0px 5px 0px;
  span img {
    max-height: 35px;
    margin: 0 7px -9px 0;
  }
}
}

form {
  position: relative;
  background: rgb(218, 218, 218);
  max-width: 360px;
  margin: 100px auto;
  padding: 30px 45px;
  text-align: center;
  h2{
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 0;
  }
  input {
    outline: 0;
    background: rgb(238, 238, 238);
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  button {
    width: 80px;
    height: 30px;
    border: 0.1px solid #007ad8;
    color: #1976D2;
    cursor: pointer;
    background: none;
    border-radius: 5px;
    &:hover{
      color: white;
      background: #007ad8;
    }
  }
  p {
    margin: 15px 0 0;
    color: #222831;
    font-size: 14px;
  }
}

div {
  margin-top: -10%;
  width: 100%;
  text-align: center;
  color: white;
  button {
    width: 80px;
    height: 30px;
    border: 0.1px solid #007ad8;
    color: #1976D2;
    cursor: pointer;
    background: none;
    border-radius: 5px;
    &:hover{
      color: white;
      background: #007ad8;
    }
}
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  p{
    font-weight: 300;
    font-size: 0.8em;
  }
}
